.total{
    margin: 20px;
    border-top: 1px solid rgb(47, 4, 145);
    margin-top: 50px;
}
.total-items{
    display: flex;
    justify-content: space-between;
}
.total-items div{
    border: 1px solid rgba(0, 0, 0, 0.418);
    flex:1;
    text-align: center;
    padding: 10px;
}
.consumption{
    background: #ff9898;
}
.coming{
    background: greenyellow;

}
.summa{
    background: #c2c2c2;
}